<nav id="menu" (mouseleave)="searchShow = false; menuShow=false">
  <ul class="left" [class.menu-shown]="menuShow">
    <li><a class="fa fa-bars menu-icon" (click)="toggleMenu()"></a></li>
    <li><a (click)="menuShow=false" [class.menu-responsive]='!menuShow' [routerLink]="['/login']">Login</a></li>
    <li><a (click)="menuShow=false" [class.menu-responsive]='!menuShow' [routerLink]="['/pages/main']">Article</a></li>
    <li><a (click)="menuShow=false" [class.menu-responsive]='!menuShow' [routerLink]="['/pages/form']">Form</a></li>
  </ul>
  <ul class="right">
    <li>
      <input #searchInput class="search menu-responsive" type="text" placeholder="_search" [class.search-popup]="searchShow" (keyup.enter)="searchShow = false">
      <a class="fa fa-search menu-responsive"></a>

    </li>
    <li>
      <a class="fa fa-search search-icon" (click)="toggleSearch()"></a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>