// colors
$bg-menu: #1A237E;
$bg-form: darken(white, 15%);
$bg-menu-hover: $bg-form;
$bg-header: #1A237E;
$bg-btn-primary: #1A237E;
$bg-btn-active: #1A237E;
$font-color: white;
$font-color-secundary: #1A237E;
$bg-body: $bg-menu url(assets/bg-night.jpg) no-repeat fixed center;

//font
$font-text: 'Roboto Slab';
