// colors
$bg-menu: #2196F3;
$bg-menu-hover: #E3F2FD;
$bg-header: $bg-menu;
$bg-form: #E3F2FD;
$bg-btn-primary: #1565C0;
$bg-btn-active: #2196F3;
$font-color: white;
$font-color-secundary: #2196F3;
$bg-body: linear-gradient(to top,$bg-menu, $bg-form) fixed no-repeat top ;

//font
$font-text:  'Zilla Slab';