#login {
    @include centerer;
    @include shadow-box($container-shadow-box);

    width: 90%;

    @include breakpoint($small) {
        width: 420px;
    }


    .login-header {
        padding: 20px;
        text-align: center;
        background: $bg-header;

        h1 {
            color: $font-color;
        }
    }

    .login-form {
        background: transparentize($bg-form, 0.3);
        overflow: hidden;
        padding: 20px;
        color: $font-color-secundary;
    }
}
