#menu {
    width: 100%;
    background: $bg-menu;
    overflow: hidden;

    .search {
        @include input($width: auto);
        @include input-placeholder;

        color: $font-color;
        border-color: $font-color;
    }

    .search-icon {
        display: inline-block;

        @include breakpoint($medium) {
            display: none;
        }
    }

    .menu-icon {
        display: inline-block;

        @include breakpoint($medium) {
            display: none;
        }
    }

    .menu-responsive {
        display: none;

        @include breakpoint($medium) {
            display: inline-block;
        }
    }

    .menu-shown {
        width: 100%;
    }

    .search-popup {
        width: 100%;
        display: inline-block;
        background-color: $bg-menu;
        border: 10px solid $bg-menu;
        position: absolute;
        top: $heigh-menu;
        right: 0;
    }

    ul {
        width: 50%;
        display: inline-block;
        list-style-type: none;
        padding: 0 30px;
        transition: .5s ease-in;

        &.right {
            float: right;
            text-align: right;
        }

        &.left {
            background: $bg-menu;
            text-align: left;
            position: absolute;

            li {
                display: block;
            }

            @include breakpoint($medium) {
                position: initial;
                float: left;

                li {
                    display: inline-block;
                }
            }
        }

        li {
            display: inline-block;

            a {
                font: {
                    weight: bold;
                    size: 20px;
                };
                line-height: 0;
                display: inline-block;
                padding: ($heigh-menu / 2) 15px;
                text-decoration: none;
                color: $font-color;
                cursor: pointer;

                &:hover, &:active {
                    color: $bg-btn-active;
                    background: $bg-menu-hover;
                    outline: none;
                }
            }
        }
    }
}
