#menu {
    width: 100%;
    background: $bg-menu;

    .search {
        @include input($width: auto);
        @include input-placeholder;

        display: none;

        @include breakpoint($medium) {
            display: inline-block;
        }


        color: $font-color;
        border-color: $font-color;
    }

    .search-icon {
        display: inline-block;

        @include breakpoint($medium) {
            display: none;
        }
    }

    .search-popup {
        @include breakpoint($small, $medium) {
            display: inline-block;
            background-color: $bg-menu;
            border: 10px solid $bg-menu;
            position: absolute;
            top: $heigh-menu;
            right: 0;
        }
    }

    ul {
        width: 50%;
        display: inline-block;
        list-style: none;
        padding: 0 50px;

        &.right {
            float: right;
            text-align: right;
        }

        &.left {
            float: left;
            text-align: left;
        }

        li {
            display: inline-block;

            a {
                font: {
                    weight: bold;
                    size: 20px;
                };
                line-height: 0;
                display: inline-block;
                padding: ($heigh-menu / 2) 15px;
                text-decoration: none;
                color: $font-color;
                cursor: pointer;

                &:hover, &:focus {
                    color: $bg-btn-active;
                    background: $bg-menu-hover;
                    outline: none;
                }
            }
        }
    }
}
