@mixin rounded-border($radius: 10px) {
    border-radius: $radius;
}

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin shadow-box($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}


@mixin input($width: 60%) {
    font-size: $size-font-form;
    width: 100%;
    display: inline-block;
    padding: 10px;
    border: none;
    border-bottom: 1px solid $font-color-secundary;
    background: transparent;
    border-radius: 0;

    // @include shadow-box(none);
    @include box-shadow(none);
    color: $font-color-secundary;

    @include breakpoint($small) {
        width: $width;

        @include input-placeholder(transparent, 0);
    }


    &:focus {
        outline: none;
    }
}

@mixin input-placeholder($color: $font-color, $opacity:0.4) {
    &::-webkit-input-placeholder {
        color: opacify($color, $opacity);
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: opacify($color, $opacity);
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        color: opacify($color, $opacity);
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        color: opacify($color, $opacity);
    }
}
