//measures
$heigh-menu: 50px;
$container-max-width: 500px;
$container-min-width: 400px;
$size-font-form: 15px;

//shadows
$container-shadow-box: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
$btn-inset-shadow: inset 1px 1px 0 0 $font-color;
$btn-outset-shadow: 1px 1px 0 0 $bg-header;

$btn-inset-active: inset 5px 5px 0 0 $font-color;


// screens
$tiny: 320px;
$small: 450px;
$medium: 760px;
$large: 900px; 