<nav id="menu">
  <ul>
    <li><a href="#">Lorem.</a></li>
    <li><a href="#">Alias.</a></li>
    <li><a href="#">Similique.</a></li>
  </ul>
  <ul class="right">
    <li>
      <input class="search" type="text" placeholder="_search">
      <a href="#" class="fa fa-search"></a>
    </li>
  </ul>
</nav>

<div id="login">
  <div class="login-header">
    <h1>Welcome!</h1>
  </div>
  <div class="login-form">
    <div class="field"><label for="">_password</label><input type="text"></div>
    <div class="field"><label for="">_username</label><input type="text"></div>
    <div class="actions"><button><span>login</span></button></div>
  </div>
</div>
