<div class="cover">
    <h1>Form</h1>
</div>

<form action="">
    <div class="card">
        <div class="card-title">
            Field data
        </div>
        <div class="card-content">
            <div class="field-block"><label for="">Field 1</label><input type="text" placeholder="Insert field 1"></div>
            <div class="field-block"><label for="">Field 2</label><input type="text" placeholder="Insert field 2"></div>
            <div class="actions">
                <button class="btn-bare">Cancel</button>
                <button class="btn">Save</button>
            </div>
        </div>
    </div>
</form>