@import 'styles/initial';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-text, Arial, Helvetica, sans-serif;
}

body {
    background: $bg-body;
    background-size: cover;
}

a.link {
    color: darken($bg-menu, 75%);
    text-decoration: none;

    &:hover, &:focus {
        color: $bg-menu;
    }

}

