<div class="cover">
    <h1>Lorem.</h1>
</div>

<article>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic odio, reiciendis aut atque rem facilis sint architecto enim
        assumenda, perspiciatis labore earum laboriosam vero natus consequuntur voluptate iure qui distinctio temporibus
        minima, non optio. Autem, dicta, dolore! Temporibus sed nisi quae, in perspiciatis, quas numquam quis quos libero
        magni cupiditate adipisci molestiae eligendi sit nemo illum pariatur veritatis consequatur, ex quisquam possimus
        impedit. Maxime itaque veritatis esse sequi ipsa iste vitae odio totam, mollitia amet commodi autem accusamus ducimus
        excepturi. Hic iste saepe optio consequuntur, placeat aliquam. Earum, dolore, vel. Saepe id excepturi sint iusto
        unde est corporis dolore nemo.
    </p>
    <br>
    <p class="cols-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti reprehenderit, ratione expedita voluptatum at earum ullam
        consequuntur, tempora modi quaerat iure nisi fugiat obcaecati sit amet, dolorum accusantium possimus, qui magnam
        maiores dolorem placeat sint unde fugit! Magnam possimus dignissimos nulla qui culpa illum soluta odit minus, nam.
        Ipsa, non? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, a adipisci recusandae doloremque repellat
        quae reiciendis fugiat placeat officiis, laborum molestiae, fugit error enim! Eius architecto, voluptatibus minus,
        laboriosam laudantium at obcaecati. Enim, ad molestias! Velit laboriosam placeat provident, ex a accusamus praesentium
        fugiat eaque facilis, nostrum neque sapiente, ducimus dolores fugit vel labore porro, fuga! Quae deserunt, laudantium
        ab architecto? Minus ipsum omnis fuga ratione eos, ipsa voluptatum? Neque, fugiat fugit ut ad qui id, minus explicabo
        temporibus adipisci doloribus a accusantium, alias laborum! Vel in odio placeat nisi repudiandae laboriosam velit
        officiis praesentium, rerum est minima cumque perspiciatis!
    </p>
    <br>
    <p class="cols-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur unde necessitatibus aspernatur beatae ex
        deserunt totam provident ipsum. Officia laborum aut necessitatibus nihil sit quasi pariatur ex, error ullam qui explicabo
        itaque perspiciatis perferendis inventore voluptatibus ipsam culpa ipsa quisquam quia architecto accusantium, nobis
        odit illum. Eaque porro, molestiae et voluptates aperiam laudantium nihil nulla illo obcaecati accusamus quis enim
        ad sequi fugit sunt temporibus beatae repellendus, unde odio quam aliquam velit a hic aspernatur. Ratione, est modi
        eveniet inventore corporis itaque dolorem excepturi nihil voluptatibus minus voluptatem, cum, laudantium quia. Voluptatem
        laborum veniam ut nam impedit quos, totam?</p>
    <section class="author">
        <p class="title">About the author</p>
        <img src="https://randomuser.me/api/portraits/men/{{user}}.jpg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, sit.</p>
    </section>
</article>

<footer class="teasers">
    <div class="teaser">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </div>
    <div class="teaser">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </div>
    <div class="teaser">
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="teaser">
        <ul class="fa-ul">
            <li>
                <p><a class="link" href="pages/main">
                <i class="fa-li fa fa-linkedin-square"></i>Linkedin</a></p>
            </li>
            <li>
                <p><a class="link" href="pages/main">
                <i class="fa-li fa fa-twitter-square"></i>Twitter</a></p>
            </li>
            <li>
                <p><a class="link" href="pages/main">
                <i class="fa-li fa fa-facebook-square"></i>Facebook</a></p>
            </li>
        </ul>
    </div>
</footer>